body{
    background: #989898;
}
div#header{
    position: sticky;
    width: 100%;
    top: 0;
    padding: 10px;
    background-color: rgb(160, 236, 236);
    border: 2px solid rgb(124, 189, 189);
    text-align: center;
    
};

div#tabHolder{
    width: 100%;
    text-align: center;
}

.tabs{
    display: inline-block;
    margin: 0 auto;
    padding-inline: 30px;
    font-family: Georgia;
}

#COLandscape1{
    transform: scale(1);
    z-index: -1;
    width: 200px;
    height: auto;
}
#COLandscape2{
    transform: scale(2);
    z-index: -1;
    width: 200px;
    height: auto;
    
}
#COLandscape3{
    transform: scale(3);
    z-index: -1;
    width: 200px;
    height: auto;
}
#backGallery{
    z-index: 1;
}